Alexis.Dashboard/Connected Services/File_Pass/File_Pass.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Plist_Pass">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="my_MDM_FilePass" type="tns:En_MDM_FilePass" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="En_MDM_FilePass">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="plist_Category" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fileNameWithExtension" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fileContent" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
      <s:element name="Plist_PassResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Plist_PassResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AppAndPlist_Pass">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="my_MDM_FilePass" type="tns:En_MDM_FilePass" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AppAndPlist_PassResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AppAndPlist_PassResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Plist_PassSoapIn">
    <wsdl:part name="parameters" element="tns:Plist_Pass" />
  </wsdl:message>
  <wsdl:message name="Plist_PassSoapOut">
    <wsdl:part name="parameters" element="tns:Plist_PassResponse" />
  </wsdl:message>
  <wsdl:message name="AppAndPlist_PassSoapIn">
    <wsdl:part name="parameters" element="tns:AppAndPlist_Pass" />
  </wsdl:message>
  <wsdl:message name="AppAndPlist_PassSoapOut">
    <wsdl:part name="parameters" element="tns:AppAndPlist_PassResponse" />
  </wsdl:message>
  <wsdl:portType name="File_PassSoap">
    <wsdl:operation name="Plist_Pass">
      <wsdl:input message="tns:Plist_PassSoapIn" />
      <wsdl:output message="tns:Plist_PassSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AppAndPlist_Pass">
      <wsdl:input message="tns:AppAndPlist_PassSoapIn" />
      <wsdl:output message="tns:AppAndPlist_PassSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="File_PassSoap" type="tns:File_PassSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Plist_Pass">
      <soap:operation soapAction="http://tempuri.org/Plist_Pass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppAndPlist_Pass">
      <soap:operation soapAction="http://tempuri.org/AppAndPlist_Pass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="File_PassSoap12" type="tns:File_PassSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Plist_Pass">
      <soap12:operation soapAction="http://tempuri.org/Plist_Pass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppAndPlist_Pass">
      <soap12:operation soapAction="http://tempuri.org/AppAndPlist_Pass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="File_Pass">
    <wsdl:port name="File_PassSoap" binding="tns:File_PassSoap">
      <soap:address location="https://staging.emerico.biz/IOS_MDM_File_Pass/File_Pass.asmx" />
    </wsdl:port>
    <wsdl:port name="File_PassSoap12" binding="tns:File_PassSoap12">
      <soap12:address location="https://staging.emerico.biz/IOS_MDM_File_Pass/File_Pass.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>